<div id="container" *ngIf="currentUser$ |async">
    <dx-menu [adaptivityEnabled]="true"
    (onItemClick)="onItemClick($event)">
        <dxi-item 
            icon="menu"
        >
            <dxi-item 
                text="Grid"
            >
            </dxi-item> 

            <dxi-item 
                text="Accordion"
            >
            </dxi-item> 

            <dxi-item 
                text="Log out"
                
            >
            </dxi-item> 

        </dxi-item>
    </dx-menu>
</div>
<router-outlet></router-outlet>
