<form #registerForm="ngForm" (ngSubmit)="register()" autocomplete="off">
    <label for="email">Email</label>
    <input 
      type="email" 
      id="registerEmail" 
      name="email"
      [(ngModel)]="model.emailAddress">
    <label for="password">Password</label>
    <input 
      type="password" 
      id="registerPassword" 
      name="password"
      [(ngModel)]="model.password">
    <button type="submit" class="btn btn-signin">Register</button>
    <p>Already have an account? <a (click)="cancel()">Sign In</a></p>
  </form>
  